{% extends 'index.twig' %}

{% block css %}
<link rel="stylesheet" type="text/css" href="../css/guild_emblem.css">
{% endblock %}

{% block js %}
<script src="../js/guild_emblem.js"></script>
{% endblock %}


{% block body %}
   <div align="center">

     <div class="emblem-container">

     {%if guild.side == 1 %}
        <img class="emblem" src="/images/guild/tabards/ring-horde.png">
     {% else %}
        <img class="emblem" src="/images/guild/tabards/ring-alliance.png">
     {%endif %}

     <img class="emblem-front" src="/images/guild/tabards/shadow_00.png">
     <img id="guild-background" class="emblem-front" src="/images/guild/tabards/bg_00.png">

     <img class="emblem-front" src="/images/guild/tabards/hooks.png">

     <img class="emblem-front" src="/images/guild/tabards/overlay_00.png">

     {% if guild.emblem.border >= 0 %}
        <img id="guild-border" class="emblem-front-border" src="/images/guild/tabards/border_0{{guild.emblem.border}}.png">
     {% endif %}

     {% if (guild.emblem.icon >= 0) and (guild.emblem.icon < 10) %}
        <img id="guild-icon" class="emblem-front-logo" src="/images/guild/tabards/emblem_0{{guild.emblem.icon}}.png">
     {% elseif (guild.emblem.icon >= 10) %}
        <img id="guild-icon" class="emblem-front-logo" src="/images/guild/tabards/emblem_{{guild.emblem.icon}}.png">
     {% endif %}
     </div>

     <h1> {{ guild.name }}</h1>
     <p>Serveur: {{ guild.realm }} </p>
     <p>Niveau: {{ guild.level }} </p>
     <p>Points de haut-faits: {{ guild.achievementPoints }} </p>

   </div>
{% endblock %}

{% block javascripts %}
<script>
  window.onload = function() {
    var background = document.getElementById('guild-background');
    var border = document.getElementById('guild-border');
    var icon = document.getElementById('guild-icon');
    recolor(background, '{{ guild.emblem.backgroundColor}}', 0);
    if(border != undefined)
      recolor(border, '{{ guild.emblem.borderColor}}', 1);
    if(icon != undefined)
      recolor(icon, '{{ guild.emblem.iconColor}}', 2);
  }
</script>
{% endblock %}
