{% extends 'index.twig' %}

{% block body %}
   <div align="center">
       <h1> {{ guild.name }}</h1>
       <p>Serveur: {{ guild.realm }} </p>
       <p>Niveau: {{ guild.level }} </p>
       <p>Points de haut-faits: {{ guild.points }} </p>



       <div class="emblem-container">
       {%if guild.side == 1 %}
          <img class="emblem" src="http://us.battle.net/wow/static/images/guild/tabards/ring-horde.png">
       {% else %}
          <img class="emblem" src="http://us.battle.net/wow/static/images/guild/tabards/ring-alliance.png">
       {%endif %}
       <img class="emblem-front" src="http://us.battle.net/wow/static/images/guild/tabards/shadow_00.png">
       <img class="emblem-front" src="http://us.battle.net/wow/static/images/guild/tabards/bg_00.png">

       <img class="emblem-front" src="http://us.battle.net/wow/static/images/guild/tabards/hooks.png">

       <img class="emblem-front-border" src="http://us.battle.net/wow/static/images/guild/tabards/border_0{{guild.emblem.border}}.png">
       <img class="emblem-front-logo" src="http://us.battle.net/wow/static/images/guild/tabards/emblem_{{guild.emblem.icon}}.png">
       </div>



   </div>
{% endblock %}

{% block stylesheets %}
<style>
    body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #welcome h1 span { display: block; font-size: 75%; }
    @media (min-width: 768px) {
        #status a, #next a { display: block; }
        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
    }

    .emblem-container {
      margin:0;
      padding:0;
      height:216px;
      width:216px;
      max-height:216px;
      max-width:216px;
      position:relative;
      overflow:visible;
    }
    .emblem {
      position: absolute;
      top:0;
      left:0;
    }
    .emblem-front {
      position: absolute;
      top:15px;
      left:15px;
    }
    .emblem-front-border {
      position: absolute;
      top:25px;
      left:25px;
    }
    .emblem-front-logo {
      position: absolute;
      top:45px;
      left:30px;
    }
</style>
{% endblock %}
